# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
*.DS_Store

# IDE files
.idea/
.vscode/

# Client Assets
AssetsByClient/
.DS_Store

.cursorrules
.DS_Store
TestCases_Phase5_HotspotSelection.md

response.json

forcedFSPlan.md



/public/City/Video

/VideoOptimizationPlan.md